$height : 50px;
$vasa_lightgray : #f3f3f1;
$vasa_yellow : #a5956d;

.dropdown {
    position: relative;
}

.dropdown .preview, .dropdown .list div {
    padding: 5px;
    width: 100%;
    // min-width: 150px;
    height: $height;
    display: flex;
    justify-items: center;
    align-content: center;
}

.dropdown .list div {
    height: $height - 10;
}

.dropdown .preview {
    border: 0.5px solid #222;
    border-radius: 5px;
}

.dropdown .preview > div {
    display: flex;
    justify-items: center;
    align-self: center;
}

.dropdown .list {
    position: absolute;
    top : $height;
    z-index: 1;

    display: none;
    width: 100%;

    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.61);
}

.dropdown .list .item {
    display: flex;
    height: $height;
}

.dropdown .list .item:hover, .dropdown .preview:hover {
    background: $vasa_yellow;
}