$size : 20px;
$vasa_yellow : #a5956d;
$vasa_lightred : #7A1217;

.chooseLanguage {
    background-color: $vasa_lightred;
    height: 45px;
    padding: 12px;
    margin : 0;
}

.chooseLanguage li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.chooseLanguage .languagePreview {
    width: $size;
    height: $size;

    border-radius: 50%;
}

.chooseLanguage .languagePreview.active {
    border : 3px solid $vasa_yellow;
}