.accordion {
    margin-top: 40px;
}

.exhibit .info {
    display: flex;
    margin-bottom: 15px;
}

.exhibit .info > div {
    margin-right: 10px;
}

.exhibit audio {
    margin-bottom: 10px;
}

.exhibit span.languagePreview {
    display: block;
    width: 50px;
    height: 50px;
    padding: 15px 10px;

    font-family: "Amiri", Times New Roman, serif;
    font-size: 30px;
}