.headline {
    display: flex;
    height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 20px;
}

.headline > div {
    display: inline-block;
    margin-right: 5px;
}

.headline > h2 {
    margin: 10px;
    display: inline-block;
}