$vasa_lightgray : #f3f3f1;
$vasa_gray : #555;

.overlay_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;

    background: rgba(20,20,20, 0.7)
}

.overlay {
    width: 70%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;

    background: $vasa_lightgray;

    padding : 50px;
}

@media( max-width : 768px ) {
    .overlay {
        width: 100%;
    }
}

.overlay .content_wrapper {
    align-self: stretch;
    flex-grow: 1;
    margin: 0;
}

.overlay .button_wrapper {
    display: block;
    width: 100%;
    height: auto;

    padding-top: 20px;
}