// Colors
$vasa_yellow : #a5956d;

$vasa_lightgray : #f3f3f1;
$vasa_gray : #555;
$vasa_darkgray : #222;

$vasa_lightred : #7A1217;
$vasa_red : #5f0e10;

// Fonts
$vasa_headline : "Amiri", Times New Roman, serif;
$vasa_text : "Open Sans", Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: $vasa_headline;
}

p, li, th, td {
    color: #222;
    font-family: $vasa_text;
}

// .App {
//     display: inline-block;
//     text-align: center;
// }

.App > h1 {
    display: block;
    width: 100%;

    padding: 30px 60px;
    margin : 0;
    background: $vasa_gray;

    font-size: 50px;
    color : white;
    text-align: center;
}

@media( max-width : 420px ) {
    .App > h1 {
        padding: 30px 0px;
        font-size: 40px;
    }

    .content_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content_wrapper audio {
        width: 100%;
    }
}

button.ui.button {
    // border-radius: 0;
    background: $vasa_yellow;
    color: white;
}

.nav {
    display: flex;
    align-items: stretch;
    justify-items: stretch;
    background: $vasa_red;
    width: 100%;
    height: 39px;

    margin : 0;
    padding: 0;

    list-style-type: none;
    text-align: left;
}

.nav li {
    display: block;
    padding: 10px 15px;
   
    flex-grow: 1;

    font-size : 14px;
    color : white;
    text-align: center;
}

.nav li.active {
    background: $vasa_lightred;
}

.content_wrapper {
    margin: 0 auto;
    max-width: 750px;
    padding-top: 50px;
}

.exhibit_wrapper {
    margin-top: 50px;
}

.exhibit {
    border-top: 0.5px solid $vasa_gray;
    padding: 20px 10px;
}

.exhibit:first-child {
    border-top: none;
}